@page "/"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>You are authorized.</p>
        <p>You are logged in as: @context?.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized.</p>
    </NotAuthorized>
</AuthorizeView>

Login
<EditForm Model="@Model" OnSubmit="@Submit" FormName="MyLoginEditForm">
    Name: <InputText @bind-Value="Model!.Name" /><br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public Credential? Model { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;


    protected override void OnInitialized()
    {
        Model ??= new();
    }

    private void Submit()
    {
        if (Model is not null)
        {
            Console.WriteLine($"User Name: {Model.Name}");
            // Create security context
            var claims = new List<Claim>
                {
                    new Claim(ClaimTypes.Name, Model.Name!),
                };

            var identity = new ClaimsIdentity(claims, "TdtsCookie");
            var claimsPrincipal = new ClaimsPrincipal(identity);

            HttpContext.SignInAsync("TdtsCookie", claimsPrincipal);
        }
    }

    public class Credential
    {
        public string? Name { get; set; }

    }
}