@page "/"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<AuthorizeView>
    <Authorized>
        <p>You are authorized.</p>
        <p>You are logged in as: @context?.User.Identity?.Name</p>

        @if (context?.User.Claims.FirstOrDefault(c => c.Type == "urn:google:picture") is not null)
        {
            <p>Google Account Picture: <img src="@context?.User.Claims.First(c => c.Type == "urn:google:picture")?.Value" alt="Profile Picture" referrerpolicy="no-referrer" /></p>
        }

        @if (context?.User.Claims.FirstOrDefault(c => c.Type == "urn:microsoft:picture") is not null)
        {
            <p>Microsoft Account Picture: <img src="data:image/png;base64,@context?.User.Claims.First(c => c.Type == "urn:microsoft:picture")?.Value" alt="Profile Picture" referrerpolicy="no-referrer" /></p>
        }

        <h3>User Claims</h3>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type:</b> @claim.Value</li>
            }
        </ul>

        <MyOwnLogout></MyOwnLogout>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized.</p>
        <MyOwnLogin></MyOwnLogin>
        <p></p>
        <GoogleExternalLogin></GoogleExternalLogin>
        <MicrosoftExternalLogin></MicrosoftExternalLogin>
    </NotAuthorized>
</AuthorizeView>